
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Информация о пользователе</title>
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <div align="center">
        <form method="post" action="/User/RegisterOrUpdateData">
            <p><font color="#ff0000">@ViewData["errMessage"]</font></p>
            <br />
            <br />
            <input id="email" name="email" type="text" placeholder="Почта" />
            <br />
            <br />
            <input id="password" name="password" type="password" placeholder="Пароль" />
            <br />
            <br />
            <input id="submit" type="submit" value="Зарегистрироваться" />
        </form>
    </div>
</body>
</html>
